@if(loading){
    <div class="loader">
        <div class="custom-loader"></div>
    </div>
} @else {
    <div class="form-container">
        <app-logo></app-logo>
        <h1 class="form-title">CONFIRMACIÓN DE RADICACIÓN</h1>
        <p>Para continuar con el proceso de radicación, por favor complete el siguiente formulario</p>

        <form action="">
            <app-subtitle [subtitle]="'DOCUMENTOS PRECARGADOS'"></app-subtitle>
            <div class="row">
              <app-select-input
                [label]="'Orden de compra'"
                [control]="getControl('purchaseOrder')"
                [options]="[]"
                [optionName]="'optionName'"
                [optionValue]="'optionValue'"
                class="col-6"
              ></app-select-input>
            </div>
            <!-- OC FORM -->
            <div class="row">
                <app-text-input
                  [label]="'Tipo de persona'"
                  [control]="getControl('personType')"
                  [type]="'text'"
                  class="col-6"
                ></app-text-input>
                <app-text-input
                  [label]="'Tipo de documento'"
                  [control]="getControl('documentType')"
                  [type]="'text'"
                  class="col-6"
                ></app-text-input>
                <app-text-input
                  [label]="'Número de documento'"
                  [control]="getControl('documentNumber')"
                  [type]="'text'"
                  class="col-6"
                ></app-text-input>
                <app-text-input
                  [label]="'Nombres y Apellidos'"
                  [control]="getControl('companyName')"
                  [type]="'text'"
                  class="col-6"
                ></app-text-input>
                <app-text-input
                  [label]="'Dirección'"
                  [control]="getControl('address')"
                  [type]="'text'"
                  class="col-6"
                ></app-text-input>
                <app-text-input
                  [label]="'Email'"
                  [control]="getControl('email')"
                  [type]="'email'"
                  class="col-6"
                ></app-text-input>
            </div>
            <!-- / OC FORM -->

            <!-- PURCHASE ORDER TABLE -->
            <app-subtitle [subtitle]="'DESCRIPCIÓN'"></app-subtitle>
            <app-orders-table></app-orders-table>
            <!-- / PURCHASE ORDER TABLE -->

            <!-- REQUIRED FILES -->
            <app-subtitle [subtitle]="'Documentos solicitados'"></app-subtitle>
            
            <label>Factura electronica *</label>
            <app-filebox [control]="getControl('invoice')"></app-filebox>
            <!-- / REQUIRED FILES -->

            <div class="row margin-top padding-bottom">
              <button class="col-12 btn-red margin-top" type="submit">Finalizar</button>
            </div>

            
        </form>

      </div>
}