<div class="row">
    <table class="col-12">
      <tr>
        <th>
          # de Orden
        </th>
        <th>
          Descripción
        </th>
        <th>
          IVA
        </th>
        <th>
          Retención
        </th>
        <th>
          Vr. Día
        </th>
        <th>
          Vr. Total
        </th>
      </tr>
      <!-- should iterate in selectedOrders -->
      @for( projection of projections; track projection) {
        <tr>
          <td>
            {{ projection.consecutive_code }}
          </td>
          <td>
            {{ projection.description }}
          </td>
          <td>
            {{ fromNumberToCop(projection.taxes_addition_value) }}
          </td>
          <td>
            {{ fromNumberToCop(projection.taxes_not_addition_value) }}
          </td>
          <td>
            {{ fromNumberToCop(projection.value) }}
          </td>
          <td>
            {{ fromNumberToCop(projection.total) }}
          </td>
        </tr>
      }
    </table>
  </div>